rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow website visitors to read settings, creators, and campaigns,
    // and allow admin actions to write directly to Firestore database.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
